
$bar-width: 256px;

.document-viewer {
  position: relative;
  height: 100%;
  
  .document-viewer-thumbs {
    width: $bar-width;
    left: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #efefef;
    .page-thumbnail {
      margin-top: 20px;
      margin-left: 20px;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  .document-viewer-content {
    float: right;
    overflow: auto;
    left: $bar-width;
    bottom: 0px;
    top: 0px;
    right: 0px;
    position: absolute;
    .container {

    }
  }
}