.document-folders-container {
  height: 100%;
  .document-folders {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .document-breadcrumbs {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
  }
  .documents-item {
    .documents-item-right {
      position: relative;
      .documents-item-right-controls {
        opacity: 0.0;
        position: absolute;
        .top-icon, .bottom-icon  {
          fill: #666;
          position: absolute;
          left: 18px;
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
        .top-icon {
          top: -6px;
        }
        .bottom-icon {
          fill: #666;
          top: 14px;
        }
      }
    }
    &:hover {
      background: #ddd;
      .documents-item-right-controls {
        opacity: 1;
      }
    }
  }
}