.file-item {
  width: 64px;
  height: 100px;
  padding: 5px;
  float: left;
  .file-image {
    height: 64px;
    overflow: hidden;
    img {
      width: 64px;
    }
  }
  .file-original {
    margin-top: 5px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
  }
}