html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#app {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.jss2 {
  display: flex;
  margin-left: -100px;
}
.jss2 svg {
  
}
.jss2 h2 {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: -0.00833em;
  text-align: center;
}
.jss2 h6 { 
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
}
#app .subtitle {
  margin-bottom: 40px;
}
.text {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(41, 182, 246);
  color: rgba(255, 255, 255, 0.87);
  font-size: 32px;
  font-weight: 300;
}
.content {
  background: rgb(41, 182, 246);
  color: rgba(255, 255, 255, 0.87);
}
.content #inputResult {
  width: 1024px;
  margin: auto;
  padding: 40px 0px;
}
.text div {
  margin-bottom: 10px;
}
.text .subtitle {
  font-size: 0.75em;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  justify-content: center;
}
.footer.static {
  position: static;
  background: rgb(41, 182, 246);
  color: rgba(255, 255, 255, 0.87);
}

.footer .footer-content {
  margin-bottom: 10px;
  color: white;
}
.footer .footer-content a {
  text-decoration: none;
  color: white;
}