.chat-component {
  $leftWidth: 256px;
  height: 100%;
  .left-side {
    width: $leftWidth;
    height: 100%;
    float: left;
    position: relative;
    .controls-panel {
      text-align: center;
      padding: 10px 20px;
      background: #EFEFEF;
      .controls-panel-item {
        width: 33%;
        float: left;
        &.active path {
          fill: #00a2ed;
        }
      }
    }
    .items-panel {
      position: absolute;
      top: 48px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      overflow-y: auto;
    }
    .add-chat-control {
      margin: 5px;
      text-align: center;
    }
  }

  .right-side {
    margin-left: $leftWidth;
    height: 100%;
    border-left: 1px solid #efefef;
    position: relative;
    .messages-panel {
      overflow-y: auto;
    }
    .chat-header {
      height: 47px;
      border-bottom: 1px solid #efefef;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      padding: 0px 16px;
    }
    .chat-messages {
      position: absolute;
      top: 48px;
      bottom: 48px;
      left: 0px;
      right: 0px;
      overflow: auto;
      .not-found {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0px;
        margin-top: -10px;
        color: #999;
      }
      .chat-message {
        position:relative;
        margin-top: 10px;
        &.chat-message-grouped {
          margin: 5px 0px;
        }
        &:last-child {
          margin-bottom: 20px;
        }
        .chat-message-user-name {
          font-size: 0.8em;
          color: #999;
          padding-left: 52px;
        }
        .name-thumb {
          left: 10px;
          top: 0px;
          margin-top: 0px;
        }
        .chat-message-body {
          margin: 5px 10px 0px 52px;
          font-size: 0.9em;
          span {
            // background: #efefef;
            // padding: 10px;
          }
        }
      }
    }
    .input-control {
      height: 48px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-top: 1px solid #efefef;
      .textarea-wrap {
        textarea {
          width: 100%;
          border: none;
          outline: none;
          font-size: 14px;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          resize: none;
          padding: 5px
        }
        position: absolute;
        right: 48px;
        bottom: 0px;
        left: 0px;
        top: 0px;
      }
      .send-icon {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 8px;
        svg {
          cursor: pointer;
        }
        path {
          fill: #00a2ed;
        }
      }
    }
  }

  .chat-menu-item-description {
    padding-left: 44px;
    line-height: 1em; 
    height: 42px; 
    padding-top: 6px;
    .chat-menu-item-name {
      font-size: 0.9em;
    }
    .additional-info {
      font-size: 0.7em;
      line-height: 1.1em;
      display: block;
      display: -webkit-box;
      color: #999;
      white-space: normal;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 24px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      .user-name {
        color: #333;
      }
    }
  }

  #users ul {
    margin-left: 0px;
    padding-left: 0px;
  }

  #messages ul {
    height: 300px;
    overflow: auto;
  }

  #messages input {
    width: 400px;
  }

  .status-online {
    color: green;
  }

  .status-offline {
    color: red;
  }
}
