// $mdi-font-path: '~mdi/fonts';
// @import '~mdi/scss/materialdesignicons';

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  #app{
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .main-container {
    height: 100%;
  }
  .main-side {
    height: 100%;
  }
  .main-side-container {
    position: absolute;
    bottom: 0px;
    top: 64px;
    left: 300px;
    right: 0px;
    overflow: auto;
  }
  .drawer-header {
    position: relative;
    .drawer-header-bottom {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 50px;
      line-height: 50px;
      background: rgba(#28b6f6, 0.25);
      text-align: right;
      padding-right: 20px;
      font-size: 24px;
    }
    .drawer-header-top {
      position: absolute;
      bottom: 50px;
      left: 0px;
      right: 0px;
      height: 100px;
    }
    .drawer-header-name {
      text-align: right;
      position: absolute;
      right: 20px;
      left: 0px;
      bottom: 28px;
    }
  }
  .container {
    margin: 10px 20px;
  }
  .jumbotron {
    background: #efefef;
  }
  .table {
    background: #fff;
  }
  .login-form {
    margin: 0 auto;
    max-width: 500px;
    h1 {
      text-align: center;
    }
    .login-text-field {
      margin: 0 auto;
    }
  }
  .page-thumbnails {
    height: 220px;
  }
  .page-thumbnail-holder {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 220px;
  }
  .page-thumbnail {
      height: 200px;
      width: 200px;
      max-height: 200px;
      max-width: 200px;
      padding: 5px;
      margin-right: 5px;
      margin-top: 5px;
      display: inline-block;
      background: #ddd;
      overflow: hidden;
      position: relative;
      .page-controls {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 24px;
        z-index: 10;
        .page-number {
          text-align: center;
          font-weight: bold;
          line-height: 24px;
          margin-top:8px;
        }
        .page-active {
          position: absolute;
          left: 5px;
          top: 5px;
          padding: 3px;
          line-height: 24px;
        }
        .page-delete {
          position: absolute;
          right: 5px;
          top: 5px;
          z-index: 10;
          width: 24px;
          height: 24px;
          padding: 3px;
          border-radius: 15px;
          background: #ddd;
          cursor: pointer;
          path {
            fill: #404040;
          }
        }
      }
    
      .page-thumbnail-container {
        display:block;
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        img {
          position: absolute;
          margin: auto;
          width: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
  }
  
  .edit-icon {
    path {
      fill: #404040;
    }
  }

  .hovered-icon {
    opacity: 0.7;
    cursor: pointer;
    
    path {
      fill: #404040;
    }
    &:hover {
      opacity: 1;
    }
  }

  .not-found {
    color: #404040;
    text-align: center;
    margin: 5px;
  }

  @import './main/style';
  @import './chat/style';
  @import './files/style';
  @import './documents/folders/style';
  @import './documents/viewer/style';
}

.clear {
  clear: both;
}

.name-thumb {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: #ddd;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -18px;
  border-radius: 100px;
}

.chat-dialog-contact {
  height: 48px;
  line-height: 48px;
  position: relative;
  padding: 0 16px;
}

.toggled-item {
  padding-left: 15px;
  .toggled-item-title {
    cursor:pointer;
  }
  .toggled-item-content {
    display:none;
  }
  &.open {
    .toggled-item-content {
      display:block;
    }
  }
}

.choosen-items {
  display:inline;
  margin-right:10px;
  max-width: 500px;
}
